/*defining style uding style class(internally)*/
.demo{
    background-color: yellow;
    width: 100%;
    height: 200px;

}
/*based on id*/
#p1{
    color: violet;
}
/*element based*/
h1{
    color: salmon;
    font-size: 30px;
    font-family: 'Times New Roman';
}
p{
    color: slateblue;
}